@import nib
global-reset()
body
    height 100px
    overflow hidden

@import _panel
.panel
    absolute bottom 0 left 0
    padding 2px
    button
        zoom 0.7
        float left

.playing
    font-family "微软雅黑",helvetica
    position relative
    margin-top 10px
    width 100%

    .cover
        absolute right 5px top 0
        max-height 54px
        max-width 54px
        border-radius 5px
        box-shadow 2px 2px rgba(200,200,200,0.7)

    p
        float left
        overflow hidden
        height 25px
        line-height 25px
        padding 0
        margin 0
        width 250px
    a
        text-decoration none
        white-space nowrap

.progress
    absolute top -8px left -1px
    width 100%
    height 15px
    border-radius 3px
    background #F7F7F7

    >*
        position absolute
        left 0
        top 0
        bottom 0
    >.buffered
        background #DDD
    >.played
        background #E00
